<div class="navbar">
  <nav>
    <input type="checkbox" id="menu" class="navbar-checkbox" />
    <label for="menu" class="navbar-label">Menu</label>
    <ul class="navbar-main">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home" >Home page</a></li>
      <li routerLinkActive="active"><a routerLink="/todos">Todo list</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/forms']">Forms</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/posts']">Posts</a></li>
      <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li routerLinkActive="active"><a routerLink="#">Page C</a></li>
      <li><button (click)="auth.login()">Login</button></li>
      <li><button (click)="auth.logout()">Logout</button></li>
    </ul>
  </nav>
</div>

<!--

[routerLinkActiveOptions]="{exact: true} - can be not set

-------------

[routerLink]="['/forms']" - ability to pass multiple strings, e.g.

[routerLink]="['/forms', 'app', 'one]" will result in '/forms/app/one'


-->


